<main class="container center" style="height: 600px; max-width: 1000px;">
    <div class="row">

        <div class="col-12 col-md-4">
            <img class="img-fluid imgshake button" style="cursor:pointer; margin-top: -20px;" src="/Images/profilepicture.jpg" alt="Profile picture"/>
        </div>

        <div class="col-12 col-md-8">

            <h1 style="color: white; font-weight: bold; font-size: 80px;">Faizan Khan</h1>
            <h2 style="color: #D3D3D3; font-weight: bold; font-size: 40px;">CS & Cybersecurity @@ NEIU</h2>
            <p style="color: #D3D3D3; font-size: 20px; margin-top: 50px;">Avid builder & Learner. Peer leading at NEIU.</p>

            <!-- Links: Work, Projects, Resume -->
            <div class="d-flex flex-wrap flex-md-nowrap gap-3 mb-3">
                <a class="button" asp-action="Work">Work</a>
                <a class="button" asp-action="Projects">Projects</a>
                <a href="/Files/Resume.pdf" target="_blank" class="button">Resume</a>
            </div>

            <!-- Icons: GitHub, LinkedIn, Mail -->
            <div class="d-flex flex-wrap flex-md-nowrap gap-3 align-items-center">
                <a href="https://github.com/1Faizan-Khan?tab=repositories" target="_blank">
                    <img class="img-fluid icon" style="height: 50px; width: 50px;" src="/Images/github.png" alt="GIT"/>
                </a>

                <a href="https://www.linkedin.com/in/faizan-khan-90189424b/" target="_blank">
                    <img class="img-fluid icon" style="width: 50px; height: 50px;" src="/Images/linkedin.png" alt="LinkedIn"/>
                </a>

                <a href="mailto:faizank8877@gmail.com" target="_blank">
                    <img class="img-fluid icon" style="width: 50px; height: 50px;" src="/Images/mail.png" alt="Mail"/>
                </a>
            </div>

        </div>

    </div>
</main>

<script>
  document.querySelectorAll('.imgshake').forEach(img => {
    img.addEventListener('click', () => {
      img.classList.remove('shake'); // Reset if already animating
      void img.offsetWidth; // Force reflow to restart animation
      img.classList.add('shake');
    });
  });
</script>