<h1 style="color: white; margin-left: 250px; font-weight: bold; font-size: 48px; margin-bottom: 30px;">Projects</h1>

<main class="container" style="height: 900px; width: 800px;">
    <div class="row">

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-2">
                    <img class="img-fluid icon" style = "margin-left: 10px; height: 50px; width: 50px;" src="~/images/domino.png" alt="GIT"/>
                </div>
                <div class="col-6">
                    <a href="https://github.com/1Faizan-Khan/Dominos-Website" target="_blank" style="color: white; font-size: 30px;">Dominos GUI Recreation</a>
                </div>
                <div class="col-4">
                    <p style = "float: left; color: white;">July-August 2024</p>
                </div>
            </div>
            <div class="row">
            <p style="color: white; font-size: 20px;">Used HTML, CSS, and Javascript to make a graphical user interface that is identical to the Dominos Pizza Homepage</p>

            </div>

            
        </div>

        <div class="row">

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-2">
                    <img class="img-fluid icon" style = "margin-left: 10px; height: 50px; width: 50px;" src="~/images/travel.png" alt="GIT"/>
                </div>
                <div class="col-6">
                    <a href="https://github.com/1Faizan-Khan/Travel_Agency" target="_blank" style="color: white; font-size: 30px;">Travel Agent</a>
                </div>
                <div class="col-4">
                    <p style= "float: left; color: white;">Jan-May 2023</p>
                </div>
            </div>
            <div class="row">
            <p style="color: white; font-size: 20px;">Used Java To Make An App That Calculates Flight Cost & Charts Flight Route Based on User Input</p>

            </div>

            
        </div>


        <div>
            <a asp-action="Index" class="button" style="color: white; font-weight: bold; font-size: 30px;">Homepage</a>
        </div>

    </div>

</main>

