<h1 class="text-white fw-bold mb-4 text-center text-md-start" style="font-size: 48px;">Projects</h1>

<main class="container">
    <div class="d-flex flex-column gap-5">

        <!-- Project 1 -->
        <div class="d-flex flex-column flex-md-row align-items-start gap-3">
            <img class="img-fluid" src="/Images/domino.png" alt="Domino Icon" style="height: 50px; width: 50px;" />
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between flex-wrap">
                    <a href="https://dominos-5a1s.onrender.com" target="_blank" class="text-white" style="font-size: 30px;">Dominos GUI Recreation</a>
                    <p class="text-white mb-0">July-August 2024</p>
                </div>
                <p class="text-white mt-2" style="font-size: 20px;">
                    Used HTML, CSS, and Javascript to make a graphical user interface that is identical to the Dominos Pizza Homepage
                </p>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="d-flex flex-column flex-md-row align-items-start gap-3">
            <img class="img-fluid" src="/Images/travel.png" alt="Travel Icon" style="height: 50px; width: 50px;" />
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between flex-wrap">
                    <a href="https://onlinegdb.com/EFJqqrDvR" target="_blank" class="text-white" style="font-size: 30px;">Travel Agent</a>
                    <p class="text-white mb-0">Jan-May 2023</p>
                </div>
                <p class="text-white mt-2" style="font-size: 20px;">
                    Used Java to make a program that calculates flight cost & charts flight route based on user input
                </p>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="d-flex flex-column flex-md-row align-items-start gap-3">
            <img class="img-fluid" src="/Images/location.png" alt="Travel Icon" style="height: 50px; width: 50px;" />
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between flex-wrap">
                    <a href="https://service-locator.onrender.com" target="_blank" class="text-white" style="font-size: 30px;">Service Locator</a>
                    <p class="text-white mb-0">Present</p>
                </div>
                <p class="text-white mt-2" style="font-size: 20px;">
                    Using HTML, CSS, Javascript, C#, and Asp.Net Core MVC to create a website service that can match customers with providers based on location
                </p>
            </div>
        </div>

        <!-- Homepage Button -->
        <div>
            <a asp-action="Index" class="button text-white fw-bold" style="font-size: 30px;">Homepage</a>
        </div>

    </div>
</main>