<h1 style="color: white; margin-left: 250px; font-weight: bold; font-size: 48px; margin-bottom: 30px;">Work</h1>

<main class="container" style="height: 900px; width: 800px;">
    <div class="row">

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-2">
                    <img class="img-fluid icon" style = "margin-left: 10px; height: 50px; width: 50px;" src="~/images/NEIU-logo.jpg" alt="GIT"/>
                </div>
                <div class="col-6">
                    <h2 style="color: white; font-size: 30px;">Peer leader at NEIU</h2>
                </div>
                <div class="col-4">
                    <p style="color: white;">January 2025-Current</p>
                </div>
            </div>

            <div class="row">
            <p style="color: white; font-size: 20px;">Conducted workshops for college students on "Object-Oriented Programming and Data Structures" utilizing lectures and programming examples, while demonstrating leadership skills.</p>

            </div>

            
    </div>

        <div class="row">
            <h3 style="font-weight:bold; font-size: 48px; color: white; margin-bottom: 30px;">Scholarships & Awards:</h3>
        </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-2">
                    <img class="img-fluid icon" style = "margin-left: 10px; height: 50px; width: 50px;" src="~/images/NEIU-logo.jpg" alt="GIT"/>
                </div>
                <div class="col-6">
                    <h2 style="color: white; font-size: 30px;">Presidential Scholarship</h2>
                </div>
                <div class="col-4">
                    <p style="color: white; font-size: 20px;">August 2023</p>
                </div>
            </div>
        
            
        

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-2">
                    <img class="img-fluid icon" style = "margin-left: 10px; height: 50px; width: 50px;" src="~/images/Honors.png" alt="GIT"/>
                </div>
                <div class="col-6">
                    <h2 style="color: white; font-size: 30px;">Honors Program Member</h2>
                </div>
                <div class="col-4">
                    <p style="color: white; font-size: 20px;">August 2023</p>
                </div>
            </div>
            
        <div>
            <a asp-action="Index" class="button" style="color: white; font-weight: bold; font-size: 30px;">Homepage</a>
        </div>

    </div>

</main>

